{% extends "layout.njk" %}
{% block content %} 

    <div id="box">
      <img src= {{about.avatar_url}} alt="Deveria exister uma imagem aqui.">
      <h1> {{about.name}} <h1> <br> Maçã - Minova</h1>
      <h2>{{about.role}}</h2>
      <p>{{about.description}}</p>
    </div>

    <div  id ="linksFooter"class="links">

    {% for link in about.link %}
        <a href="{{link.url}}" target="_blank">{{link.name}}</a>
    {% endfor %}

    </div>
</body>

{% endblock  %}