{% extends "layout.njk" %}

{% block title %}
<title>{{item.title}} - videos </title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> 

{% endblock %}






{% block content %}
        <section class="video">
            <div class="card_only" id="{{item.id}}">
                <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="card_content">
                <p>{{item.title}} </p>
            </div>
            <div class="card_info">
                <P>{{item.duration}}</P>
                <p class="card_price"> {{item.price}} </p>
        </div>
        </div>
      
       </section>
     
{%endblock%}